* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: grid;
    border: 3px solid black;
    height: 500px;
    width: clamp(30vw, 50vw, 80vw);
    gap: 10px;
    padding: 5px;
    grid-template-rows: repeat(3, minmax(10px, 400px));
    grid-template-columns: repeat(3, minmax(10px, 400px));
}

 .cella,.cellb, .cellc {
    border: 1px solid black;
    font-size: 8rem;
    text-align: center;
}